<ion-item *ngIf="taf">
	<ion-row>
		<ion-col>
			<h1>
				{{ station.ident }}
				<span class="issue-time" *ngIf="taf?.issueTime != ''">
					(Issued: {{ taf?.issueTime.local().format('h:mm a') }})
				</span>
			</h1>
			<span *ngIf="station.getDistance()">({{ station.getDistanceInStatuteMiles(1) | number }} sm)</span>
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col>
			<hr>
		</ion-col>
	</ion-row>
	<ion-row *ngFor="let forecast of taf.forecasts; let i = index">
		<ion-col col-12>
			<ion-row>
				<ion-col>				
					<taf-forecast-header [forecast]="forecast"></taf-forecast-header>					
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<taf-forecast-content [forecast]="forecast"></taf-forecast-content>
				</ion-col>
			</ion-row>
			<ion-row *ngIf="i < taf.forecasts.length - 1">
				<ion-col>
					<hr>
				</ion-col>
			</ion-row>
		</ion-col>
	</ion-row>
	<ion-row *ngIf="taf.remarks">
		<ion-col>
			{{ taf.remarks }}
		</ion-col>
	</ion-row>
</ion-item>
