page-metar-details {
	span.wind-gusts {
		color: color($colors, danger);
		font-weight: bold;
	}
	span.weather-visibility {
		color: color($colors, danger);
		font-weight: bold;
	}

	span.observation-recent {
		color: color($colors, green);
	}
	span.observation-aging {
		color: color($colors, warning);
	}
	span.observation-outdated {
		color: color($colors, danger);
	}
	ion-label.label-md, div.item-inner {
		margin: 0 !important;
	}
};
