<div float-right class="wind-index" *ngIf="forecast">
	<div class="wind-speed" *ngIf="forecast?.windSpeed">
		<ion-icon name="flag" item-start></ion-icon>
		{{ forecastWindSpeedMeasurement() }}
		<sup>{{ forecastWindSpeedUnit()}}</sup>
	</div>
	<div class="wind-direction" *ngIf="forecast?.windDirection">
		<ion-icon name="compass" item-start></ion-icon>
		{{ forecast?.windDirection }}
		<sup>TRUE</sup>
	</div>
	<div class="wind-gusts" *ngIf="forecast?.windGusts">
		Gusts {{ forecastWindGustsMeasurement() }} <sup>{{ forecastWindGustsUnit() }}</sup>
	</div>
</div>
<ion-row no-padding *ngIf="forecast">
	<ion-col [ngClass]="forecast?.getFlightCategoryColor() + '-background'">
		{{ forecast?.flightCategory }}
	</ion-col>
	<ion-col *ngIf="forecast?.visibility">
		<ion-icon name="eye" item-start></ion-icon>
		{{ forecastVisibility() }}
	</ion-col>
</ion-row>
<ion-row *ngIf="forecast">
	<ion-col col-12 *ngFor="let skyCondition of forecastSkyConditions()">
		<ion-icon name="cloud" item-start></ion-icon>
		{{ skyCondition }}
	</ion-col>
</ion-row>
<ion-row *ngIf="forecast">
	<ion-col class="important-visibility-conditions" col-12 *ngFor="let condition of forecast?.getWeatherConditions()">
		<ion-icon name="eye" item-start></ion-icon>
		{{ condition }}
	</ion-col>
</ion-row>
