<ion-card>
	<button ion-button clear small float-right color="danger"
			(click)="onRemoveCard(station)"
			*ngIf="allowRemoveCard">
		<ion-icon name="trash"></ion-icon>
	</button>
	<button ion-button clear small float-right
			(click)="onAddToFavorites(station)"
			*ngIf="allowFavoriteCard">
		<ion-icon name="heart"></ion-icon>
	</button>
	<ion-card-header>
		<h1>
			{{ station.ident }}
			<span [ngClass]="metar?.getObservationTimeColor()">
				({{ metar?.getObservationTimeFromNow() }} m)
			</span>
		</h1>
		<span *ngIf="station.getDistance()">({{  stationDistance() }} )</span>
	</ion-card-header>
	<ion-card-content>
		<div float-right class="wind-index" *ngIf="metar">
			<div class="wind-speed">
				<ion-icon name="flag" item-start></ion-icon>
				<span *ngIf="metar?.windSpeed > 0">					
					{{ metarWindSpeedMeasurement() }}
					<sup>{{ metarWindSpeedUnit() }}</sup>
				</span>
				<span *ngIf="metar?.windSpeed == 0">Calm</span>
			</div>
			<div class="wind-direction" *ngIf="metar?.windDirection != 0 && metar?.windSpeed != 0">
				<ion-icon name="compass" item-start></ion-icon>
				{{ metar?.windDirection }}
				<sup>TRUE</sup>
			</div>
			<div class="wind-gusts" *ngIf="metar?.windGusts">
				Gusts {{ metar?.windGusts }} <sup>kts</sup>
			</div>
		</div>
		<ion-row no-padding *ngIf="metar">
			<ion-col [ngClass]="metar?.getFlightCategoryColor() + '-background'">
				{{ metar?.flightCategory }}
			</ion-col>
			<ion-col>
				<ion-icon name="eye" item-start></ion-icon>
				{{ metar?.visibility }} mi
			</ion-col>
		</ion-row>
		<ion-row *ngIf="metar">
			<ion-col>
				<ion-icon name="thermometer" item-start></ion-icon>
				{{ metarTemperature() }}
			</ion-col>
			<ion-col>
				<ion-icon name="water"></ion-icon>&nbsp;&nbsp;
				{{ metarDewpoint() }}
			</ion-col>
		</ion-row>
		<ion-row *ngIf="metar">
			<ion-col col-12 *ngFor="let skyCondition of metar?.getSkyConditions()">
				<ion-icon name="cloud" item-start></ion-icon>
				{{ skyCondition.getSkyConditionString() }}
			</ion-col>
		</ion-row>
		<ion-row *ngIf="metar">
			<ion-col class="important-visibility-conditions" col-12 *ngFor="let condition of metar?.getImportantVisibilityConditions()">
				<ion-icon name="eye" item-start></ion-icon>
				{{ condition }}
			</ion-col>
		</ion-row>
	</ion-card-content>
	<ion-row no-padding>
		<ion-col *ngIf="station.isMetarSupported">
			<button ion-button icon-left clear small
					(click)="onViewCurrentConditions(station)">
				<ion-icon name="thermometer"></ion-icon>
				Current
			</button>
		</ion-col>
		<ion-col text-center *ngIf="station.isTafSupported">
			<button ion-button icon-left clear small
					color="green"
					(click)="onViewForecastConditions(station)">
				<ion-icon name="clock"></ion-icon>
				Forecast
			</button>
		</ion-col>
		<ion-col text-right>
			<button ion-button icon-left clear small
					color="dark"
					(click)="onAddToFlightPlan(station)">
				<ion-icon name="navigate"></ion-icon>
				Plan
			</button>
		</ion-col>
	</ion-row>
</ion-card>
