<ion-item>
	<ion-row>
		<ion-col>
			<h1>
				{{ metarObservationTime("MMM Do, ") }}			
				<span [ngClass]="metar?.getObservationTimeColor()">
						({{ metar?.getObservationTimeFromNow() }} m)
				</span>
			</h1>	
			<span *ngIf="station.getDistance()">({{ stationDistance() }})</span>
		</ion-col>
	</ion-row>
	<ion-col col-4 float-right no-padding class="wind-index" *ngIf="metar">
		<ion-row>
			<ion-col class="wind-speed" col-12 col-lg-4>
				<ion-icon name="flag" item-start></ion-icon>
				<span *ngIf="metar?.windSpeed > 0">
					{{ metarWindSpeedMeasurement() }}
					<sup>{{ speedUnit() }}</sup>
				</span>
				<span *ngIf="metar?.windSpeed == 0">Calm</span>
			</ion-col>
			<ion-col class="wind-direction"  col-12 col-lg-4 *ngIf="metar?.windDirection != 0 && metar?.windSpeed != 0">
				<ion-icon name="compass" item-start></ion-icon>
				{{ metar?.windDirection }}
				<sup>TRUE</sup>
			</ion-col>
			<ion-col class="wind-gusts" col-12 col-lg-4 *ngIf="metar?.windGusts">
				Gusts {{ metarWindGustsMeasurement() }}
				<sup>{{ speedUnit() }}</sup>
			</ion-col>
		</ion-row>
	</ion-col>
	<ion-row no-padding *ngIf="metar">
		<ion-col [ngClass]="metar?.getFlightCategoryColor() + '-background'">
			{{ metar?.flightCategory }}
		</ion-col>
		<ion-col>
			<ion-icon name="eye" item-start></ion-icon>
			{{ metarVisibility() }}
		</ion-col>
	</ion-row>
	<ion-row *ngIf="metar">
		<ion-col>
			<ion-icon name="thermometer" item-start></ion-icon>
			{{ metarTemperature() }}
		</ion-col>
		<ion-col>
			<ion-icon name="water"></ion-icon>&nbsp;&nbsp;
			{{ metarDewpoint() }}
		</ion-col>
	</ion-row>
	<ion-row *ngIf="metar">
		<ion-col col-12 *ngFor="let skyCondition of metarSkyConditions()">
			<ion-icon name="cloud" item-start></ion-icon>
			{{ skyCondition }}
		</ion-col>
	</ion-row>
	<ion-row *ngIf="metar">
		<ion-col class="important-visibility-conditions" col-12 *ngFor="let condition of metar?.getWeatherConditions()">
			<ion-icon name="eye" item-start></ion-icon>
			{{ condition }}
		</ion-col>
	</ion-row>
</ion-item>
