<ion-header>
  <ion-navbar>
    <ion-title>Aviation Weather</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<form #stationForm="ngForm" (ngSubmit)="onStationSearch(stationForm.value.ident)">
		<ion-list>
			<ion-item>
				<ion-label stacked>Find Station</ion-label>
				<ion-input type="text" name="ident" placeholder="KDEN"
						   [(ngModel)]="stationString" required
						   (keyup)="onInputText()"></ion-input>
			</ion-item>
		</ion-list>
		<button ion-button type="submit" block [disabled]="!stationForm.valid">Find</button>
	</form>

	<h4>Recent Stations</h4>
	<ion-card *ngFor="let station of recent">
		<button ion-button clear small float-right color="danger">
			<ion-icon name="trash"></ion-icon>
		</button>
		<button ion-button clear small float-right>
			<ion-icon name="heart"></ion-icon>
		</button>
		<ion-card-header>
			{{ station.ident }}
		</ion-card-header>
		<ion-card-content>
			<button ion-button icon-left outline small
					[navPush]="metarDetailsPage"
					[navParams]="{station: station, metar: station.getLatestMetar()}">
				<ion-icon name="thermometer"></ion-icon>
				Current
			</button>
			<button ion-button icon-left outline small
					color="secondary"
					[navPush]="metarDetailsPage"
					[navParams]="{station: station, metar: station.getLatestTaf()}">
				<ion-icon name="clock"></ion-icon>
				Forecast
			</button>
		</ion-card-content>
	</ion-card>

	<h4>Favorite Stations</h4>
	<ion-card *ngFor="let station of favorites">
		<ion-card-header>
			{{ station.ident }}
			<button ion-button>
				<ion-icon name="heart"></ion-icon>
				Favorite
			</button>
		</ion-card-header>
		<ion-card-content>
			<button ion-button icon-left outline small
					[navPush]="metarDetailsPage"
					[navParams]="{station: station, metar: station.getLatestMetar()}">
				<ion-icon name="thermometer"></ion-icon>
				Current
			</button>
			<button ion-button icon-left outline small
					[navPush]="metarDetailsPage"
					[navParams]="{station: station, metar: station.getLatestTaf()}">
				<ion-icon name="clock"></ion-icon>
				Forecast
			</button>
		</ion-card-content>
	</ion-card>
</ion-content>
