<ion-header>

	<ion-navbar>
		<ion-title>Settings</ion-title>
	</ion-navbar>

</ion-header>


<ion-content>
		<ion-list radio-group [(ngModel)]="configuredDistanceUnit" (ionChange)="onChangeDistance()">
			<ion-list-header>
				<ion-icon name="question"></ion-icon>
				Distance
			</ion-list-header>
		
			<ion-item *ngFor="let distanceUnit of getDistanceUnits()">
				<ion-label>{{distanceUnit}}</ion-label>
				<ion-radio [value]="distanceUnit"></ion-radio>
			</ion-item>
		</ion-list>
		<ion-list radio-group [(ngModel)]="configuredSpeedUnit" (ionChange)="onChangeSpeed()">
			<ion-list-header>
				<ion-icon name="question"></ion-icon>
				Speed
			</ion-list-header>
		
			<ion-item *ngFor="let speedUnit of getSpeedUnits()">
				<ion-label>{{speedUnit}}</ion-label>
				<ion-radio [value]="speedUnit"></ion-radio>
			</ion-item>
		</ion-list>
		<ion-list radio-group [(ngModel)]="configuredTemperatureUnit" (ionChange)="onChangeTemperature()">
			<ion-list-header>
				<ion-icon name="thermometer"></ion-icon>
				Temperature
			</ion-list-header>
		
			<ion-item *ngFor="let temperatureUnit of getTemperatureUnits()">
				<ion-label>{{temperatureUnit}}</ion-label>
				<ion-radio [value]="temperatureUnit"></ion-radio>
			</ion-item>
		</ion-list>
		<ion-list radio-group [(ngModel)]="configuredAltitudeUnit" (ionChange)="onChangeAltitude()">
			<ion-list-header>
				<ion-icon name="thermometer"></ion-icon>
				Altitude
			</ion-list-header>
		
			<ion-item *ngFor="let altitudeUnit of getAltitudeUnits()">
				<ion-label>{{altitudeUnit}}</ion-label>
				<ion-radio [value]="altitudeUnit"></ion-radio>
			</ion-item>
		</ion-list>
</ion-content>
