<ion-header>

	<ion-navbar>
		<ion-title>Settings</ion-title>
	</ion-navbar>

</ion-header>


<ion-content>
	<ion-list>
		<ion-item>
			<ion-label>
				<ion-icon name="cloud"></ion-icon>
				Altitude
			</ion-label>
			<ion-select [(ngModel)]="configuredAltitudeUnit" (ionChange)="onChangeAltitude()">
					<ion-option value="enable">Enable</ion-option>>
				<ion-option *ngFor="let altitudeUnit of getAltitudeUnits()" [value]="altitudeUnit">
					{{altitudeUnit}}
				</ion-option>
			</ion-select>
		</ion-item>
		<ion-item>
			<ion-label>
				<ion-icon name="map"></ion-icon>
				Distance
			</ion-label>
			<ion-select [(ngModel)]="configuredDistanceUnit" (ionChange)="onChangeDistance()">
				<ion-option *ngFor="let distanceUnit of getDistanceUnits()" [value]="distanceUnit">
					{{distanceUnit}}
				</ion-option>
			</ion-select>
		</ion-item>
		<ion-item>
			<ion-label>
				<ion-icon name="speedometer"></ion-icon>
				Speed
			</ion-label>
			<ion-select [(ngModel)]="configuredSpeedUnit" (ionChange)="onChangeSpeed()">
				<ion-option *ngFor="let speedUnit of getSpeedUnits()" [value]="speedUnit">
					{{speedUnit}}
				</ion-option>
			</ion-select>
		</ion-item>
		<ion-item>
			<ion-label>
				<ion-icon name="thermometer"></ion-icon>
				Temperature
			</ion-label>
			<ion-select [(ngModel)]="configuredTemperatureUnit" (ionChange)="onChangeTemperature()">
				<ion-option *ngFor="let temperatureUnit of getTemperatureUnits()" [value]="temperatureUnit">
					{{temperatureUnit}}
				</ion-option>
			</ion-select>
		</ion-item>
	</ion-list>	
</ion-content>
