<ion-header>

	<ion-navbar>
		<ion-title>{{ station.ident }} TAF</ion-title>
	</ion-navbar>

</ion-header>


<ion-content>
	<ion-grid>
		<ion-row>
			<ion-col col-12 col-md-6>
				<ion-card *ngFor="let forecast of taf.forecasts">
					<ion-card-header>
						<div class="taf-day">
							<span class="from-day">{{ forecast.fromTime.local().format("MMM D") }}</span>
							<span class="to-day" *ngIf="!sameDay(forecast.fromTime, forecast.toTime)">
								to {{ forecast.toTime.local().format("MMM D") }}
							</span>
						</div>
						<div class="taf-time">
						{{ forecast.fromTime.local().format("h:mm A") }}
						to
						{{ forecast.toTime.local().format("h:mm A") }}
						</div>
						<div class="change-indicator-tempo" *ngIf="forecast?.changeIndicator === 'TEMPO'">
							(TEMPORARY)
						</div>
						<div class="change-indicator-becmg" *ngIf="forecast?.changeIndicator === 'BECMG'">
							(BECOMING)
						</div>
						<div class="change-indicator-prob40" *ngIf="forecast?.changeIndicator === 'PROB40'">
							(CHANCE)
						</div>
					</ion-card-header>
					<ion-card-content>
						<div float-right class="wind-index" *ngIf="forecast">
							<div class="wind-speed" *ngIf="forecast?.windSpeed">
								<ion-icon name="flag" item-start></ion-icon>
								{{ forecast?.windSpeed }}
								<sup>kts</sup>
							</div>
							<div class="wind-direction" *ngIf="forecast?.windDirection">
								<ion-icon name="compass" item-start></ion-icon>
								{{ forecast?.windDirection }}
								<sup>TRUE</sup>
							</div>
							<div class="wind-gusts" *ngIf="forecast?.windGusts">
								Gusts {{ forecast?.windGusts }} <sup>kts</sup>
							</div>
						</div>
						<ion-row no-padding *ngIf="forecast">
							<ion-col [ngClass]="forecast?.getFlightCategoryColor() + '-background'">
								{{ forecast?.flightCategory }}
							</ion-col>
							<ion-col *ngIf="forecast?.visibility">
								<ion-icon name="eye" item-start></ion-icon>
								{{ forecast?.visibility }} mi
							</ion-col>
						</ion-row>
						<ion-row *ngIf="forecast">
							<ion-col col-12 *ngFor="let skyCondition of forecast?.getSkyConditions()">
								<ion-icon name="cloud" item-start></ion-icon>
								{{ skyCondition.getSkyConditionString() }}
							</ion-col>
						</ion-row>
						<ion-row *ngIf="forecast">
							<ion-col class="important-visibility-conditions" col-12 *ngFor="let condition of forecast?.getWeatherConditions()">
								<ion-icon name="eye" item-start></ion-icon>
								{{ condition }}
							</ion-col>
						</ion-row>
					</ion-card-content>
				</ion-card>
			</ion-col>
			<ion-col col-12 col-md-6>
				<ion-list>
					<ion-item>
						<ion-icon name="clock" item-start></ion-icon>
						<ion-grid>
							<ion-row>
								<ion-col col-sm-5 col-md-4 col-lg-2>
									Issued
								</ion-col>
								<ion-col>
									{{ taf.issueTime.local().format("MMM Do, h:mm A") }}
								</ion-col>
							</ion-row>
						</ion-grid>
					</ion-item>
					<ion-item>
						<ion-icon name="clock" item-start></ion-icon>
						<ion-grid>
							<ion-row>
								<ion-col col-sm-5 col-md-4 col-lg-2>
									Bulletin Time
								</ion-col>
								<ion-col>
									{{ taf.bulletinTime.local().format("MMM Do, h:mm A") }}
								</ion-col>
							</ion-row>
						</ion-grid>
					</ion-item>
					<ion-item>
						<ion-icon name="clock" item-start></ion-icon>
						<ion-grid>
							<ion-row>
								<ion-col col-sm-5 col-md-4 col-lg-2>
									From
								</ion-col>
								<ion-col>
									{{ taf.validFrom.local().format("MMM Do, h:mm A") }}
								</ion-col>
							</ion-row>
							<ion-row>
								<ion-col col-sm-5 col-md-4 col-lg-2>
									To
								</ion-col>
								<ion-col>
									{{ taf.validTo.local().format("MMM Do, h:mm A") }}
								</ion-col>
							</ion-row>
						</ion-grid>
					</ion-item>
					<ion-item>
						<ion-icon name="pin" item-start></ion-icon>
						<ion-grid>
							<ion-row>
								<ion-col>
									{{ taf.latitude }} N {{ taf.longitude }} {{ taf.longitude < 0 ? 'W' : 'E' }}
								</ion-col>
							</ion-row>
						</ion-grid>
					</ion-item>
					<ion-item>
						Remarks {{ taf.remarks }}
					</ion-item>
					<ion-item>
						Elevation {{ (taf.elevation * 3.28).toFixed(0) }} ft
					</ion-item>
				</ion-list>

				<p> {{ taf.raw }}</p>
			</ion-col>
			<ion-col col-12 col-md-6>
				<button *ngIf="!inFavorites" ion-button icon-left (click)="onAddToFavorites(station)">
					<ion-icon name="heart"></ion-icon>
					Favorite
				</button>
				<button *ngIf="inFavorites" ion-button icon-left (click)="onRemoveFromFavorites(station)" color="danger">
					<ion-icon name="trash"></ion-icon>
					Favorite
				</button>
				<button ion-button
						(click)="onViewHistory()">TAF History</button>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
