<ion-header>

	<ion-navbar>
		<ion-title>{{ station.ident }} TAF</ion-title>
	</ion-navbar>

</ion-header>


<ion-content>
	<ion-grid>
		<ion-row>
			<ion-col col-12 col-md-6>
				<ion-card *ngFor="let forecast of taf.forecasts">
					<ion-card-header>
						<taf-forecast-header [forecast]="forecast"></taf-forecast-header>						
					</ion-card-header>
					<ion-card-content>
						<taf-forecast-content [forecast]="forecast"></taf-forecast-content>						
					</ion-card-content>
				</ion-card>
			</ion-col>
			<ion-col col-12 col-md-6>
				<ion-list>
					<ion-item>
						<ion-icon name="clock" item-start></ion-icon>
						<ion-grid>
							<ion-row>
								<ion-col col-sm-5 col-md-4 col-lg-2>
									Issued
								</ion-col>
								<ion-col>
									{{ taf.issueTime.local().format("MMM Do, h:mm A") }}
								</ion-col>
							</ion-row>
						</ion-grid>
					</ion-item>
					<ion-item>
						<ion-icon name="clock" item-start></ion-icon>
						<ion-grid>
							<ion-row>
								<ion-col col-sm-5 col-md-4 col-lg-2>
									Bulletin Time
								</ion-col>
								<ion-col>
									{{ taf.bulletinTime.local().format("MMM Do, h:mm A") }}
								</ion-col>
							</ion-row>
						</ion-grid>
					</ion-item>
					<ion-item>
						<ion-icon name="clock" item-start></ion-icon>
						<ion-grid>
							<ion-row>
								<ion-col col-sm-5 col-md-4 col-lg-2>
									From
								</ion-col>
								<ion-col>
									{{ taf.validFrom.local().format("MMM Do, h:mm A") }}
								</ion-col>
							</ion-row>
							<ion-row>
								<ion-col col-sm-5 col-md-4 col-lg-2>
									To
								</ion-col>
								<ion-col>
									{{ taf.validTo.local().format("MMM Do, h:mm A") }}
								</ion-col>
							</ion-row>
						</ion-grid>
					</ion-item>
					<ion-item>
						<ion-icon name="pin" item-start></ion-icon>
						<ion-grid>
							<ion-row>
								<ion-col>
									{{ taf.latitude }} N {{ taf.longitude }} {{ taf.longitude < 0 ? 'W' : 'E' }}
								</ion-col>
							</ion-row>
						</ion-grid>
					</ion-item>
					<ion-item *ngIf="taf.remarks">
						Remarks {{ taf.remarks }}
					</ion-item>
					<ion-item>
						Elevation {{ (taf.elevation * 3.28).toFixed(0) }} ft
					</ion-item>
				</ion-list>

				<p> {{ taf.raw }}</p>
			</ion-col>
			<ion-col col-12 col-md-6>
				<button ion-button icon-left (click)="onViewStationInfo()">
					<ion-icon name="info"></ion-icon>
					Station Info (Skyvector)
				</button>
				<button *ngIf="!inFavorites" ion-button icon-left (click)="onAddToFavorites(station)">
					<ion-icon name="heart"></ion-icon>
					Favorite
				</button>
				<button *ngIf="inFavorites" ion-button icon-left (click)="onRemoveFromFavorites(station)" color="danger">
					<ion-icon name="trash"></ion-icon>
					Favorite
				</button>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
