page-flight-plan {
	ion-list.search-form ion-label, #station-search-label {
		padding:0;
		margin-top: 10px !important;
		margin-bottom: 4px !important;
	}
	ion-label.label-md, div.item-inner, ion-label.label-ios{
		margin: 0 !important;
	}
	ion-label button, ion-list-header {
		margin: 0;
		padding-left: 0 !important;
	}
	ion-item-options > button {
		padding-left:0.7em !important;
	}
	button.item-ios, button.item-md {
		background-color: color($palettes, mainColors, accent-first);
	}
}
