<ion-header>
  <ion-navbar>
    <ion-title>Flight Plan</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
	<form #stationForm="ngForm" (ngSubmit)="onStationSearch(stationForm.value.ident)">
		<ion-list class="search-form">
			<ion-item>
				<ion-label stacked id="station-search-label">Find Station</ion-label>
				<ion-input type="text" name="ident" placeholder="KDEN"
						   [(ngModel)]="stationString" required
						   (input)="onInputText()"></ion-input>
			</ion-item>
		</ion-list>
		<button ion-button type="submit" block [disabled]="!stationForm.valid">Add to Flight Plan</button>
	</form>

	<ion-list>
		<ion-list-header>
			<button ion-item (click)="onToggleSection(sections.configuration)" detail-none
					[ngClass]="{'section-active': sections.configuration.open, 'section': !sections.configuration.open}">
				<ion-icon item-left name="arrow-forward" *ngIf="!sections.configuration.open"></ion-icon>
				<ion-icon item-left name="arrow-down" *ngIf="sections.configuration.open"></ion-icon>
				{{ sections.configuration.title }}
			</button>

			<ion-list *ngIf="sections.configuration.open">
				<ion-list-header>
					<h2>
						&nbsp;&nbsp;Corridor Width
						<ion-badge>{{corridor}} mi</ion-badge>
					</h2>
				</ion-list-header>
				<ion-item>
					<ion-range min="5" max="100" snaps="true" step="10" pin="true" [(ngModel)]="corridor" (ionChange)="onUpdateCorridorRange()">
						<ion-icon range-left small name="none">5</ion-icon>
						<ion-icon range-right small name="none">100</ion-icon>
					</ion-range>
				</ion-item>
			</ion-list>
		</ion-list-header>

		<ion-list-header>
			<button ion-item (click)="onToggleSection(sections.navPoints)" detail-none
					[ngClass]="{'section-active': sections.navPoints.open, 'section': !sections.navPoints.open}">
				<ion-icon item-left name="arrow-forward" *ngIf="!sections.navPoints.open"></ion-icon>
				<ion-icon item-left name="arrow-down" *ngIf="sections.navPoints.open"></ion-icon>
				{{ sections.navPoints.title }}
			</button>

			<ion-list reorder="true" (ionItemReorder)="reorderFlightPlanStations($event)" *ngIf="sections.navPoints.open">
				<ion-item-sliding *ngFor="let station of flightPlanService.getStations()">
					<ion-item>
						<h2>
							<ion-icon name="arrow-round-forward" item-start></ion-icon>
							{{ station.ident }}
						</h2>
						<ion-badge item-end>{{ Math.round(toNauticalMiles(flightPlanService.distanceToRoutePoint(station))) }} nm</ion-badge>
					</ion-item>
					<ion-item-options side="right">
						<button ion-button color="danger">
							<ion-icon name="trash" (click)="onRemoveNavPoint(station)"></ion-icon>
						</button>
					</ion-item-options>
				</ion-item-sliding>
			</ion-list>

		</ion-list-header>

		<ion-list-header>
			<button ion-item (click)="onToggleSection(sections.metars)" detail-none
					[ngClass]="{'section-active': sections.metars.open, 'section': !sections.metars.open}">
				<ion-icon item-left name="arrow-forward" *ngIf="!sections.metars.open"></ion-icon>
				<ion-icon item-left name="arrow-down" *ngIf="sections.metars.open"></ion-icon>
				{{ sections.metars.title }}
			</button>

			<ion-list *ngIf="sections.metars.open">
				<metar-list-item
					*ngFor="let station of metarStations()"
					[station]="station"
					[metar]="station.getLatestMetar()">
				</metar-list-item>
			</ion-list>

		</ion-list-header>
		<ion-list-header>
			<button ion-item (click)="onToggleSection(sections.tafs)" detail-none
					[ngClass]="{'section-active': sections.tafs.open, 'section': !sections.tafs.open}">
				<ion-icon item-left name="arrow-forward" *ngIf="!sections.tafs.open"></ion-icon>
				<ion-icon item-left name="arrow-down" *ngIf="sections.tafs.open"></ion-icon>
				{{ sections.tafs.title }}
			</button>

			<ion-list *ngIf="sections.tafs.open">
				<taf-list-item
					*ngFor="let station of tafStations()"
					[station]="station"
					[taf]="station.getLatestTaf()">
				</taf-list-item>
			</ion-list>

		</ion-list-header>
		<ion-list-header>
			<button ion-item (click)="onToggleSection(sections.airsigmets)" detail-none
					[ngClass]="{'section-active': sections.airsigmets.open, 'section': !sections.airsigmets.open}">
				<ion-icon item-left name="arrow-forward" *ngIf="!sections.airsigmets.open"></ion-icon>
				<ion-icon item-left name="arrow-down" *ngIf="sections.airsigmets.open"></ion-icon>
				{{ sections.airsigmets.title }}
			</button>

			<ion-list *ngIf="sections.airsigmets.open">
				<ion-item *ngFor="let met of airsigmets">

				</ion-item>
			</ion-list>

		</ion-list-header>
		<ion-list-header>
			<button ion-item (click)="onToggleSection(sections.pireps)" detail-none
					[ngClass]="{'section-active': sections.pireps.open, 'section': !sections.pireps.open}">
				<ion-icon item-left name="arrow-forward" *ngIf="!sections.pireps.open"></ion-icon>
				<ion-icon item-left name="arrow-down" *ngIf="sections.pireps.open"></ion-icon>
				{{ sections.pireps.title }}
			</button>

			<ion-list *ngIf="sections.pireps.open">
				<ion-item *ngFor="let report of pireps">

				</ion-item>
			</ion-list>

		</ion-list-header>
	</ion-list>

</ion-content>
