<ion-header>

	<ion-navbar>
		<ion-title>TAFs</ion-title>
	</ion-navbar>

</ion-header>


<ion-content>
	<form #stationForm="ngForm" (ngSubmit)="onStationSearch(stationForm.value.ident)">
		<ion-list class="search-form">
			<ion-item>
				<ion-label stacked>Find Station</ion-label>
				<ion-input type="text" name="ident" placeholder="KDEN"
						   [(ngModel)]="stationString" required
						   (input)="onInputText()"></ion-input>
			</ion-item>
		</ion-list>
		<button ion-button type="submit" block [disabled]="!stationForm.valid">Find</button>
	</form>


	<div *ngIf="recent.length > 0">
		<h5 padding-left>Recent</h5>
		<ion-list>
			<button ion-item
					*ngFor="let station of recent"
					[navPush]="tafDetailsPage"
					[navParams]="{station: station, taf: station.getLatestTaf()}">
				<h2>{{ station.ident | uppercase }}</h2>
				<p>{{ station.getLatestTaf()?.raw }}</p>
			</button>
		</ion-list>
	</div>

	<h5 padding-left>Favorites</h5>
	<ion-list>
		<button ion-item
				*ngFor="let station of favorites"
				[navPush]="tafDetailsPage"
				[navParams]="{station: station, taf: station.getLatestTaf()}">
			<h2>{{ station.ident | uppercase }}</h2>
			<p>{{ station.getLatestTaf()?.raw }}</p>
		</button>
	</ion-list>
	<h5 padding-left>Local</h5>
	<ion-list>
		<button ion-item *ngFor="let station of local" (click)="itemSelected(station)">
			{{ station.ident }}
		</button>
	</ion-list>
</ion-content>
