<ion-header>

	<ion-navbar>
		<ion-title>TAFs</ion-title>
	</ion-navbar>

</ion-header>


<ion-content>
	<ion-refresher (ionRefresh)="doRefresh($event)">
		<ion-refresher-content
			pullingText="Pull to refresh"
			refreshingText="Fetching latest forecasts...">
		</ion-refresher-content>
	</ion-refresher>
	<form #stationForm="ngForm" (ngSubmit)="onStationSearch(stationForm.value.ident)">
		<ion-list class="search-form">
			<ion-item>
				<ion-label stacked>Find Station</ion-label>
				<ion-input type="text" name="ident" placeholder="KDEN"
						   [(ngModel)]="stationString" required
						   (input)="onInputText()"></ion-input>
			</ion-item>
		</ion-list>
		<button ion-button type="submit" block [disabled]="!stationForm.valid">Find</button>
	</form>


	<div *ngIf="recent.length > 0">
		<h5 padding-left>Recent</h5>
		<ion-list>
			<ion-item-sliding *ngFor="let station of recent" #slidingItem>
				<button ion-item
						[navPush]="tafDetailsPage"
						[navParams]="{station: station, taf: station.getLatestTaf()}">
					<h2>{{ station.ident | uppercase }}</h2>					
					<taf-short-forcast *ngIf="station.getLatestTaf()?.forecasts[0]" [taf]="station.getLatestTaf()">
					</taf-short-forcast>
				</button>
				<ion-item-options>
					<button ion-button
							(click)="onAddToFavorites(slidingItem, station)">
						<ion-icon name="heart"></ion-icon>
						Favorite
					</button>
					<button ion-button color="danger"
							(click)="onRemoveRecent(station)">
						<ion-icon name="trash"></ion-icon>
						Remove
					</button>
				</ion-item-options>
			</ion-item-sliding>
		</ion-list>
	</div>

	<h5 padding-left>Favorites</h5>
	<ion-list>
		<ion-item-sliding *ngFor="let station of favorites">
			<button ion-item
					[navPush]="tafDetailsPage"
					[navParams]="{station: station, taf: station.getLatestTaf()}">
				<h2>{{ station.ident | uppercase }}</h2>
				<taf-short-forcast *ngIf="station.getLatestTaf()?.forecasts[0]" [taf]="station.getLatestTaf()">
				</taf-short-forcast>
			</button>
			<ion-item-options>
				<button ion-button color="danger"
						(click)="onRemoveFavorite(station)">
					<ion-icon name="trash"></ion-icon>
					Remove
				</button>
			</ion-item-options>
		</ion-item-sliding>
	</ion-list>
	<h5 padding-left>Local</h5>
	<ion-list>
		<ion-item-sliding *ngFor="let station of local" #slidingLocal>
			<button ion-item

					[navPush]="tafDetailsPage"
					[navParams]="{station: station, taf: station.getLatestTaf()}">
				<h2>{{ station.ident | uppercase }}</h2>
				<taf-short-forcast *ngIf="station.getLatestTaf()?.forecasts[0]" [taf]="station.getLatestTaf()">
				</taf-short-forcast>
			</button>
			<ion-item-options>
				<button ion-button
						(click)="onAddToFavorites(slidingLocal, station)">
					<ion-icon name="heart"></ion-icon>
					Favorite
				</button>
			</ion-item-options>
		</ion-item-sliding>
	</ion-list>
</ion-content>
